In [65]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]

In [71]:
vectorizer = CountVectorizer(stop_words=['this','is','and'], lowercase=True)

In [73]:
X = vectorizer.fit_transform(corpus)
vectorizer.get_feature_names()
#X.toarray()

['document', 'first', 'one', 'second', 'the', 'third']

In [74]:
#bigram
vectorizer2 = CountVectorizer(analyzer='word', ngram_range=(2, 2))
X2 = vectorizer2.fit_transform(corpus)
print(vectorizer2.get_feature_names())

['and this', 'document is', 'first document', 'is the', 'is this', 'second document', 'the first', 'the second', 'the third', 'third one', 'this document', 'this is', 'this the']

In [79]:
#form a DF
data_dtm = pd.DataFrame(X2.toarray(), columns=vectorizer2.get_feature_names())

data_dtm

,and this,document is,first document,is the,is this,second document,the first,the second,the third,third one,this document,this is,this the
0,0,0,1,1,0,0,1,0,0,0,0,1,0
1,0,1,0,1,0,1,0,1,0,0,1,0,0
2,1,0,0,1,0,0,0,0,1,1,0,1,0
3,0,0,1,0,1,0,1,0,0,0,0,0,1

In [83]:
tdm = data_dtm.transpose()
tdm.head()

                0  1  2  3
and this        0  0  1  0
document is     0  1  0  0
first document  1  0  0  1
is the          1  1  1  0
is this         0  0  0  1

In [87]:
import scipy.sparse
from gensim import matutils, models

sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [94]:
id2word = dict((v, k) for k, v in vectorizer2.vocabulary_.items())

In [95]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2)
lda.print_topics()

[(0,
  '0.165*"is the" + 0.118*"this is" + 0.076*"the first" + 0.076*"first document" + 0.073*"and this" + 0.073*"the third" + 0.072*"third one" + 0.072*"the second" + 0.071*"document is" + 0.070*"this document"'),
 (1,
  '0.130*"first document" + 0.130*"the first" + 0.119*"this the" + 0.113*"is this" + 0.070*"is the" + 0.063*"this is" + 0.059*"second document" + 0.056*"this document" + 0.055*"document is" + 0.053*"the second"')]