<a href="https://colab.research.google.com/github/luwu29/Python-Data-Science-Tools/blob/master/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SETUP

In [0]:
import pickle
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

## Access local files

In [0]:
from google.colab import files # Access local files

uploaded = files.upload()

Saving titanic3.csv to titanic3.csv

## OR USING URL

In [0]:
#Testing paths
path="https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv"
path2='https://otexts.com/fpp2/extrafiles/tute1.csv'

In [0]:
path3='tute1.csv'
path3[-3:]

'csv'

In [0]:
#Option 1
df=pd.read_csv(path)

In [0]:
# other dataset
!wget 
!unzip

In [0]:
!wget -cq https://s3.amazonaws.com/content.udacity-data.com/courses/nd188/flower_data.zip
!unzip -qq flower_data.zip

In [0]:
from google.colab import drive
drive.mount('/content/drive')

# EDA CODE

In [0]:
class EDA:
  #read file.csv
  def __init__(self, inputFile):
    self.file=inputFile
#read csv or pickle files 
  def generate_df(self):
    if self.file[-3:]=='csv':
      self.data_as_csv=pd.read_csv(self.file)
      return self.data_as_csv
    elif self.file[-3:]=='pkl':
      self.data_as_pkl=pd.read_pickle(self.file)
      return self.data_as_pkl

#reindex
  def reindex(self):
    df=self.generate_df()
    self.reindex=df.reindex(np.random.permutation(df.index))
    return self.reindex
#dtypes and descriptions after removing missing values
  def data_types(self):
    df=self.generate_df()
    info=df.describe()
    return display(df.dtypes, info)

#Deleting variables that are missing more than 90% and drop duplicates
  def drop_missing_dup(self):
    df=self.generate_df()
    drop_missing=df.dropna(thresh=len(df)*0.9, axis='columns')
    drop_missing_dup=drop_missing.drop_duplicates()
    return drop_missing_dup

#seperate number and strings...
  def number(self):
    df=self.drop_missing_dup()
    df_number=df.select_dtypes(include='number')
    df_object=df.select_dtypes(include='object')
    return df_number, df_object

#rank missing values desc
  def missing_df(self):
    df=self.generate_df()
    missing_df=pd.DataFrame(df.apply(lambda x:sum(x.isnull())/len(df)))
    missing_df.columns=['pct_missing']
    missing_df=missing_df.sort_values(by='pct_missing', ascending=False)
    return missing_df


#descending sorting by col
  def sort(self, col):
    df=self.generate_df()
    return df.sort_values(by=col, ascending=False)

In [0]:
data_shell=EDA('titanic3.csv')

In [0]:
df=data_shell.generate_df()

In [0]:
data_shell.sort('fare')

      pclass  survived  ...   body                                       home.dest
183      1.0       1.0  ...    NaN                                             NaN
302      1.0       1.0  ...    NaN                                             NaN
49       1.0       1.0  ...    NaN  Austria-Hungary / Germantown, Philadelphia, PA
50       1.0       1.0  ...    NaN                    Germantown, Philadelphia, PA
113      1.0       1.0  ...    NaN                                    Winnipeg, MB
...      ...       ...  ...    ...                                             ...
384      2.0       0.0  ...    NaN                                         Belfast
581      2.0       0.0  ...    NaN                                         Belfast
410      2.0       0.0  ...    NaN                                         Belfast
1225     3.0       0.0  ...  261.0                                             NaN
1309     NaN       NaN  ...    NaN                                             NaN

[1310 rows x 14 columns]

# Prepare Data FOR ML

In [0]:
df_numeric=data_shell.number()[0]

In [0]:
#Set features and target
def features(df):
    selected_features = df_numeric
    processed_features = selected_features.drop('survived', 1)
    return processed_features
  
def target(df):
  output_targets = pd.DataFrame()
  output_targets["survived"] = (
    df["survived"] == 1).astype(float)
  return output_targets

In [0]:
target(df)

      survived
0          1.0
1          1.0
2          0.0
3          0.0
4          0.0
...        ...
1305       0.0
1306       0.0
1307       0.0
1308       0.0
1309       0.0

[1310 rows x 1 columns]

In [0]:
features(df)

      pclass  sibsp  parch      fare
0        1.0    0.0    0.0  211.3375
1        1.0    1.0    2.0  151.5500
2        1.0    1.0    2.0  151.5500
3        1.0    1.0    2.0  151.5500
4        1.0    1.0    2.0  151.5500
...      ...    ...    ...       ...
1305     3.0    1.0    0.0   14.4542
1306     3.0    0.0    0.0    7.2250
1307     3.0    0.0    0.0    7.2250
1308     3.0    0.0    0.0    7.8750
1309     NaN    NaN    NaN       NaN

[1310 rows x 4 columns]

In [0]:
# Training and Validation